openapi: 3.0.3
info:
  title: Teams API
  description: API for managing soccer teams, players, trainers, events, and equipment
  version: 1.0.0
  contact:
    name: Teams API Support
    email: support@teams-api.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.teams.com
    description: Production server
# Authentication is optional for most endpoints, but required for some
security: []
paths:
  /auth/register:
    post:
      operationId: registerUser
      summary: Register a new user
      description: Create a new user account with email and password
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  minLength: 16
                  example: mySecurePassword123
                firstName:
                  type: string
                  example: John
                lastName:
                  type: string
                  example: Doe
              required:
                - email
                - password
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/UserResponse'
                  token:
                    type: string
                    description: JWT authentication token
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login:
    post:
      operationId: loginUser
      summary: Login user
      description: Authenticate with email and password to receive a JWT token
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  example: mySecurePassword123
              required:
                - email
                - password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/UserResponse'
                  token:
                    type: string
                    description: JWT authentication token
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/me:
    get:
      operationId: getCurrentUser
      summary: Get current user info
      description: Get the authenticated user's information
      tags:
        - Authentication
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/request-reset:
    post:
      operationId: requestPasswordReset
      summary: Request password reset
      description: Send a password reset email with a one-time link valid for 1 hour
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
              required:
                - email
      responses:
        '200':
          description: Password reset email sent (or will be sent if account exists)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: If an account exists with this email, you will receive a password reset link shortly.
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/reset-password:
    post:
      operationId: resetPassword
      summary: Reset password with token
      description: Reset user password using the token received via email
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                resetToken:
                  type: string
                  example: a1b2c3d4e5f6...
                newPassword:
                  type: string
                  minLength: 6
                  example: myNewSecurePassword123
              required:
                - email
                - resetToken
                - newPassword
      responses:
        '200':
          description: Password reset successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password has been reset successfully
        '400':
          description: Invalid request data or expired/invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health:
    get:
      operationId: healthCheck
      summary: Health check endpoint
      description: Returns the health status of the API and database connection
      tags:
        - Health
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  message:
                    type: string
                    example: "Teams API is running"
                  database:
                    type: object
                    properties:
                      connected:
                        type: boolean
                      collections:
                        type: array
                        items:
                          type: string
        '503':
          description: Service unavailable - database unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups:
    get:
      operationId: getAllGroups
      summary: Get all groups
      description: Retrieve all groups where the authenticated user is a trainer member
      tags:
        - Groups
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createGroup
      summary: Create a new group
      description: Create a new group
      tags:
        - Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
      responses:
        '201':
          description: Group created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}:
    get:
      operationId: getGroupById
      summary: Get group by ID
      description: Retrieve a specific group by ID
      tags:
        - Groups
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Group found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateGroupById
      summary: Update group by ID
      description: Update a specific group by ID
      tags:
        - Groups
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupRequest'
      responses:
        '200':
          description: Group updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteGroupById
      summary: Delete group by ID
      description: Delete a specific group by ID
      tags:
        - Groups
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Group deleted successfully
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/members:
    get:
      operationId: getAllMembers
      summary: Get all members in a group
      description: Retrieve members (players and/or trainers) in a specific group based on role filter
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: role
          in: query
          description: Filter by role
          required: false
          schema:
            type: string
            enum: [player, trainer]
      responses:
        '200':
          description: Successfully retrieved members
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/PlayerWithRole'
                  - type: array
                    items:
                      $ref: '#/components/schemas/TrainerWithRole'
                  - type: object
                    properties:
                      players:
                        type: array
                        items:
                          $ref: '#/components/schemas/Player'
                      trainers:
                        type: array
                        items:
                          $ref: '#/components/schemas/Trainer'
        '400':
          description: Invalid role parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createMember
      summary: Create a new member in a group
      description: Create either a player or trainer based on the role field in a specific group
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreatePlayerRequest'
                - $ref: '#/components/schemas/CreateTrainerRequest'
      responses:
        '201':
          description: Member created successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PlayerWithRole'
                  - $ref: '#/components/schemas/TrainerWithRole'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/members/{id}:
    get:
      operationId: getMemberById
      summary: Get member by ID
      description: Retrieve a specific member (player or trainer) by ID in a specific group
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Member found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PlayerWithRole'
                  - $ref: '#/components/schemas/TrainerWithRole'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateMemberById
      summary: Update member by ID
      description: Update a specific Member (player or trainer) by ID in a specific group
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/UpdatePlayerRequest'
                - $ref: '#/components/schemas/UpdateTrainerRequest'
      responses:
        '200':
          description: Member updated successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PlayerWithRole'
                  - $ref: '#/components/schemas/TrainerWithRole'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteMemberById
      summary: Delete member by ID
      description: Delete a specific Member (player or trainer) by ID in a specific group
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Member deleted successfully
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/members/{memberId}/evaluations:
    get:
      operationId: getAllEvaluationsForMember
      summary: Get all evaluations for a member
      description: Retrieve all evaluations for a specific member (player) in a specific group
      tags:
        - Evaluations
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved evaluations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerEvaluation'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createEvaluation
      summary: Create a new evaluation for a player
      description: Create a new evaluation for a specific player in a specific group
      tags:
        - Evaluations
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerEvaluation'
      responses:
        '201':
          description: Evaluation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerEvaluation'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/members/{memberId}/evaluations/{evaluationId}:
    put:
      operationId: updateEvaluation
      summary: Update evaluation by ID
      description: Update a specific evaluation by ID for a specific member (player) in a specific group
      tags:
        - Evaluations
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: memberId
          in: path
          required: true
          schema:
            type: string
        - name: evaluationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerEvaluation'
      responses:
        '200':
          description: Evaluation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerEvaluation'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Evaluation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteEvaluation
      summary: Delete evaluation by ID
      description: Delete a specific evaluation by ID for a specific member (player) in a specific group
      tags:
        - Evaluations
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: memberId
          in: path
          required: true
          schema:
            type: string
        - name: evaluationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Evaluation deleted successfully
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Evaluation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/events:
    get:
      operationId: getAllEvents
      summary: Get all events in a group
      description: Retrieve all events in a specific group
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createEvent
      summary: Create a new event in a group
      description: Create a new event in a specific group
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '201':
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/events/{id}:
    get:
      operationId: getEventById
      summary: Get event by ID
      description: Retrieve a specific event by ID in a specific group
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateEventById
      summary: Update event by ID
      description: Update a specific event by ID in a specific group
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEventRequest'
      responses:
        '200':
          description: Event updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteEventById
      summary: Delete event by ID
      description: Delete a specific event by ID in a specific group
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Event deleted successfully
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/events/{id}/players:
    put:
      operationId: upsertEventInvitations
      summary: Upsert event invitations
      description: Add new player invitations to an event
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                playerIds:
                  type: array
                  items:
                    type: string
              required:
                - playerIds
      responses:
        '200':
          description: Invitations updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/events/{id}/players/{player_id}/status:
    put:
      operationId: updateInvitationStatus
      summary: Update invitation status
      description: Update the status of a player's invitation
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: player_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [open, accepted, declined, injured]
              required:
                - status
      responses:
        '200':
          description: Invitation status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event or invitation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/events/{id}/selection:
    put:
      operationId: updateTeamSelection
      summary: Update team selection
      description: Update the team player selection for an event
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                teams:
                  type: array
                  items:
                    $ref: '#/components/schemas/Team'
              required:
                - teams
      responses:
        '200':
          description: Team selection updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/shirtsets:
    get:
      operationId: getAllShirtSets
      summary: Get all shirt sets in a group
      description: Retrieve all shirt sets in a specific group
      tags:
        - Shirt Sets
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved shirt sets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShirtSet'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createShirtSet
      summary: Create a new shirt set in a group
      description: Create a new shirt set in a specific group
      tags:
        - Shirt Sets
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShirtSetRequest'
      responses:
        '201':
          description: Shirt set created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShirtSet'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/shirtsets/{id}:
    get:
      operationId: getShirtSetById
      summary: Get shirt set by ID
      description: Retrieve a specific shirt set by ID in a specific group
      tags:
        - Shirt Sets
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Shirt set found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShirtSet'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shirt set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateShirtSetById
      summary: Update shirt set by ID
      description: Update a specific shirt set by ID in a specific group
      tags:
        - Shirt Sets
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShirtSetRequest'
      responses:
        '200':
          description: Shirt set updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShirtSet'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shirt set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteShirtSetById
      summary: Delete shirt set by ID
      description: Delete a specific shirt set by ID in a specific group
      tags:
        - Shirt Sets
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Shirt set deleted successfully
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shirt set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /auth/login or /auth/register
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
      required:
        - error
    UserResponse:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - email
    Group:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        club:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        trainers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              email:
                type: string
                format: email
        members:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Player'
              - $ref: '#/components/schemas/Trainer'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - name
    CreateGroupRequest:
      type: object
      properties:
        name:
          type: string
        club:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        trainers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              email:
                type: string
                format: email
      required:
        - name
    UpdateGroupRequest:
      type: object
      properties:
        name:
          type: string
        club:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        trainers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              email:
                type: string
                format: email
    Player:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        birthYear:
          type: integer
          minimum: 1900
          maximum: 2030
        birthDate:
          type: string
          format: date
        level:
          type: integer
          minimum: 1
          maximum: 5
      required:
        - id
        - firstName
        - lastName
        - birthYear
        - level
    
    PlayerEvaluation:
      type: object
      properties:
        id:
          type: string
        playerId:
          type: string
        evaluationDate:
          type: string
          format: date
        userId:
          type: string
        score:
          type: object
          properties:
            technical:
              type: integer
              minimum: 1
              maximum: 5
            intelligence:
              type: integer
              minimum: 1
              maximum: 5
            personality:
              type: integer
              minimum: 1
              maximum: 5
            speed:
              type: integer
              minimum: 1
              maximum: 5
        comments:
          type: string
          nullable: true
      required:
        - playerId
        - evaluationDate
        - score
        - userId
    Trainer:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
          nullable: true
      required:
        - id
        - firstName
        - lastName
    PlayerWithRole:
      allOf:
        - $ref: '#/components/schemas/Player'
        - type: object
          properties:
            role:
              type: string
              enum: [player]
          required:
            - role
    TrainerWithRole:
      allOf:
        - $ref: '#/components/schemas/Trainer'
        - type: object
          properties:
            role:
              type: string
              enum: [trainer]
          required:
            - role
    CreatePlayerRequest:
      type: object
      properties:
        role:
          type: string
          enum: [player]
        firstName:
          type: string
        lastName:
          type: string
        birthYear:
          type: integer
          minimum: 1900
          maximum: 2030
        birthDate:
          type: string
          format: date
        level:
          type: integer
          minimum: 1
          maximum: 5
      required:
        - role
        - firstName
        - lastName
        - birthDate
        - level
    CreateTrainerRequest:
      type: object
      properties:
        role:
          type: string
          enum: [trainer]
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
      required:
        - role
        - firstName
        - lastName
    UpdatePlayerRequest:
      type: object
      properties:
        role:
          type: string
          enum: [player]
        firstName:
          type: string
        lastName:
          type: string
        birthYear:
          type: integer
          minimum: 1900
          maximum: 2030
        birthDate:
          type: string
          format: date
        level:
          type: integer
          minimum: 1
          maximum: 5
      required:
        - role
        - firstName
        - lastName
        - birthYear
        - level
    UpdateTrainerRequest:
      type: object
      properties:
        role:
          type: string
          enum: [trainer]
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
      required:
        - role
        - firstName
        - lastName
    Invitation:
      type: object
      properties:
        id:
          type: string
          
        playerId:
          type: string
          
        status:
          type: string
          enum: [open, accepted, declined, injured]
      required:
        - id
        - playerId
        - status
    ShirtAssignment:
      type: object
      properties:
        playerId:
          type: string
          
        shirtNumber:
          type: integer
          minimum: 1
      required:
        - playerId
        - shirtNumber
    Team:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        strength:
          type: integer
          minimum: 1
          maximum: 3
          default: 2
        startTime:
          type: string
          pattern: '^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$'
          example: "14:30"
        selectedPlayers:
          type: array
          items:
            type: string
        trainerId:
          type: string
          nullable: true
        shirtSetId:
          type: string
          nullable: true
        shirtAssignments:
          type: array
          items:
            $ref: '#/components/schemas/ShirtAssignment'
          nullable: true
      required:
        - id
        - name
        - strength
        - startTime
        - selectedPlayers
    Event:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        date:
          type: string
          format: date
        maxPlayersPerTeam:
          type: integer
          minimum: 1
        minPlayersPerTeam:
          type: integer
          minimum: 1
        location:
          type: string
        teams:
          type: array
          items:
            $ref: '#/components/schemas/Team'
        invitations:
          type: array
          items:
            $ref: '#/components/schemas/Invitation'
      required:
        - id
        - name
        - date
        - minPlayersPerTeam
        - maxPlayersPerTeam
        - teams
        - invitations
    CreateEventRequest:
      type: object
      properties:
        name:
          type: string
        date:
          type: string
          format: date
        maxPlayersPerTeam:
          type: integer
          minimum: 1
        minPlayersPerTeam:
          type: integer
          minimum: 1
          default: 1
        location:
          type: string
        teams:
          type: array
          items:
            $ref: '#/components/schemas/Team'
      required:
        - name
        - date
        - maxPlayersPerTeam
        - minPlayersPerTeam
    UpdateEventRequest:
      type: object
      properties:
        name:
          type: string
        date:
          type: string
          format: date
        maxPlayersPerTeam:
          type: integer
          minimum: 1
        location:
          type: string
        teams:
          type: array
          items:
            $ref: '#/components/schemas/Team'
        invitations:
          type: array
          items:
            $ref: '#/components/schemas/Invitation'
    Shirt:
      type: object
      properties:
        number:
          type: integer
          minimum: 1
        size:
          type: string
          enum: ['128', '140', '152', '164', 'XS', 'S', 'M', 'L', 'XL']
        isGoalkeeper:
          type: boolean
      required:
        - number
        - size
        - isGoalkeeper
    ShirtSet:
      type: object
      properties:
        id:
          type: string
          
        sponsor:
          type: string
        color:
          type: string
        shirts:
          type: array
          items:
            $ref: '#/components/schemas/Shirt'
      required:
        - id
        - sponsor
        - color
        - shirts
    CreateShirtSetRequest:
      type: object
      properties:
        sponsor:
          type: string
        color:
          type: string
        shirts:
          type: array
          items:
            $ref: '#/components/schemas/Shirt'
      required:
        - sponsor
        - color
        - shirts
    UpdateShirtSetRequest:
      type: object
      properties:
        sponsor:
          type: string
        color:
          type: string
        shirts:
          type: array
          items:
            $ref: '#/components/schemas/Shirt'
      required:
        - sponsor
        - color
        - shirts
tags:
  - name: Authentication
    description: User registration and authentication endpoints
  - name: Health
    description: API health check endpoints
  - name: Groups
    description: Operations on groups for organizing teams
  - name: Members
    description: Operations on members (players and trainers) within a group
  - name: Evaluations
    description: Operations on player evaluations within a group
  - name: Events
    description: Operations on events and team management within a group
  - name: Shirt Sets
    description: Operations on shirt sets and equipment within a group
