openapi: 3.0.3
info:
  title: Teams API
  description: API for managing soccer teams, players, trainers, events, and equipment
  version: 1.0.0
  contact:
    name: Teams API Support
    email: support@teams-api.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.teams.com
    description: Production server
# Authentication is optional for most endpoints, but required for some
security: []
paths:
  /auth/register:
    post:
      operationId: registerUser
      summary: Register a new user
      description: Create a new user account with email and password
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  minLength: 16
                  example: mySecurePassword123
                firstName:
                  type: string
                  example: John
                lastName:
                  type: string
                  example: Doe
              required:
                - email
                - password
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/UserResponse'
                  token:
                    type: string
                    description: JWT authentication token
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login:
    post:
      operationId: loginUser
      summary: Login user
      description: Authenticate with email and password to receive a JWT token
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  example: mySecurePassword123
              required:
                - email
                - password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/UserResponse'
                  token:
                    type: string
                    description: JWT authentication token
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/me:
    get:
      operationId: getCurrentUser
      summary: Get current user info
      description: Get the authenticated user's information
      tags:
        - Authentication
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/request-reset:
    post:
      operationId: requestPasswordReset
      summary: Request password reset
      description: Send a password reset email with a one-time link valid for 1 hour
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
              required:
                - email
      responses:
        '200':
          description: Password reset email sent (or will be sent if account exists)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: If an account exists with this email, you will receive a password reset link shortly.
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/reset-password:
    post:
      operationId: resetPassword
      summary: Reset password with token
      description: Reset user password using the token received via email
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                resetToken:
                  type: string
                  example: a1b2c3d4e5f6...
                newPassword:
                  type: string
                  minLength: 6
                  example: myNewSecurePassword123
              required:
                - email
                - resetToken
                - newPassword
      responses:
        '200':
          description: Password reset successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password has been reset successfully
        '400':
          description: Invalid request data or expired/invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health:
    get:
      operationId: healthCheck
      summary: Health check endpoint
      description: Returns the health status of the API and database connection
      tags:
        - Health
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  message:
                    type: string
                    example: "Teams API is running"
                  database:
                    type: object
                    properties:
                      connected:
                        type: boolean
                      collections:
                        type: array
                        items:
                          type: string
        '503':
          description: Service unavailable - database unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups:
    get:
      operationId: getAllGroups
      summary: Get all groups
      description: Retrieve all groups where the authenticated user is a trainer member
      tags:
        - Groups
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createGroup
      summary: Create a new group
      description: Create a new group
      tags:
        - Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGroupRequest'
      responses:
        '201':
          description: Group created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}:
    get:
      operationId: getGroupById
      summary: Get group by ID
      description: Retrieve a specific group by ID
      tags:
        - Groups
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Group found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateGroupById
      summary: Update group by ID
      description: Update a specific group by ID
      tags:
        - Groups
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGroupRequest'
      responses:
        '200':
          description: Group updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteGroupById
      summary: Delete group by ID
      description: Delete a specific group by ID
      tags:
        - Groups
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Group deleted successfully
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/import:
    post:
      operationId: importGroupData
      summary: Import localStorage-style group data
      description: Import players, trainers, shirt sets, and events into an existing group using a localStorage-compatible payload.
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                players:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      birthDate:
                        type: string
                        format: date
                      level:
                        type: integer
                    required:
                      - id
                      - firstName
                      - lastName
                      - birthDate
                      - level
                trainers:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                    required:
                      - id
                      - firstName
                      - lastName
                shirtSets:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      sponsor:
                        type: string
                      color:
                        type: string
                      shirts:
                        type: array
                        items:
                          $ref: '#/components/schemas/Shirt'
                    required:
                      - id
                      - sponsor
                      - color
                      - shirts
                events:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      date:
                        type: string
                        format: date
                      maxPlayersPerTeam:
                        type: integer
                        minimum: 1
                      minPlayersPerTeam:
                        type: integer
                        minimum: 1
                      teams:
                        type: array
                        items:
                          $ref: '#/components/schemas/Team'
                      invitations:
                        type: array
                        items:
                          $ref: '#/components/schemas/Invitation'
                    required:
                      - id
                      - name
                      - date
                      - maxPlayersPerTeam
                      - teams
                      - invitations
      responses:
        '200':
          description: Import completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Import completed
                  groupId:
                    type: string
                  summary:
                    type: object
                    properties:
                      playersImported:
                        type: integer
                      trainersImported:
                        type: integer
                      eventsImported:
                        type: integer
                      shirtSetsImported:
                        type: integer
                      errors:
                        type: array
                        items:
                          type: string
        '400':
          description: Invalid request payload or missing groupId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/members:
    get:
      operationId: getAllMembers
      summary: Get all members in a group
      description: Retrieve all members for a specific group in a single response (players and trainers). Guardians can read this endpoint, but sensitive player fields are hidden.
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved members
          content:
            application/json:
              schema:
                type: object
                properties:
                  players:
                    type: array
                    items:
                      $ref: '#/components/schemas/Player'
                  trainers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trainer'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createMember
      summary: Create a new member in a group
      description: Create either a player or trainer based on the role field in a specific group
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreatePlayerRequest'
                - $ref: '#/components/schemas/CreateTrainerRequest'
      responses:
        '201':
          description: Member created successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PlayerWithRole'
                  - $ref: '#/components/schemas/TrainerWithRole'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/members/{id}:
    get:
      operationId: getMemberById
      summary: Get member by ID
      description: Retrieve a specific member (player or trainer) by ID in a specific group. Guardians can read this endpoint, but sensitive player fields are hidden.
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Member found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PlayerWithRole'
                  - $ref: '#/components/schemas/TrainerWithRole'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateMemberById
      summary: Update member by ID
      description: Update a specific Member (player or trainer) by ID in a specific group
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/UpdatePlayerRequest'
                - $ref: '#/components/schemas/UpdateTrainerRequest'
      responses:
        '200':
          description: Member updated successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PlayerWithRole'
                  - $ref: '#/components/schemas/TrainerWithRole'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteMemberById
      summary: Delete member by ID
      description: Delete a specific Member (player or trainer) by ID in a specific group
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Member deleted successfully
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/members/{id}/roles/{role}:
    delete:
      operationId: revokeMemberRole
      summary: Revoke role from a member
      description: Revoke an admin, trainer, or guardian role from a member in a specific group.
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: role
          in: path
          required: true
          schema:
            type: string
            enum: [admin, trainer, guardian]
      responses:
        '200':
          description: Role revoked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainerWithRole'
        '400':
          description: Invalid role parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Role revocation conflict (last admin, last role, guardian role, or role not assigned)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/members/{id}/guardians:
    post:
      operationId: linkGuardianToPlayer
      summary: Link a guardian to player
      description: Link a single guardian to a specific player in a specific group. 
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGuardianRequest'
      responses:
        '200':
          description: Guardian added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerWithRole'
        '400':
          description: Invalid guardian payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Guardian already exists (same email)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/members/{id}/guardians/{guardianId}:
    delete:
      operationId: unlinkGuardianFromPlayer
      summary: Unlink a guardian from player
      description: Unlink a single guardian from a specific player in a specific group
      tags:
        - Members
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: guardianId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Guardian deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerWithRole'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Player or guardian not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/members/{memberId}/evaluations:
    get:
      operationId: getAllEvaluationsForMember
      summary: Get all evaluations for a member
      description: Retrieve all evaluations for a specific member (player) in a specific group
      tags:
        - Evaluations
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved evaluations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerEvaluation'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createEvaluation
      summary: Create a new evaluation for a player
      description: Create a new evaluation for a specific player in a specific group
      tags:
        - Evaluations
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerEvaluation'
      responses:
        '201':
          description: Evaluation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerEvaluation'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/members/{memberId}/evaluations/{evaluationId}:
    put:
      operationId: updateEvaluation
      summary: Update evaluation by ID
      description: Update a specific evaluation by ID for a specific member (player) in a specific group
      tags:
        - Evaluations
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: memberId
          in: path
          required: true
          schema:
            type: string
        - name: evaluationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerEvaluation'
      responses:
        '200':
          description: Evaluation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerEvaluation'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Evaluation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteEvaluation
      summary: Delete evaluation by ID
      description: Delete a specific evaluation by ID for a specific member (player) in a specific group
      tags:
        - Evaluations
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: memberId
          in: path
          required: true
          schema:
            type: string
        - name: evaluationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Evaluation deleted successfully
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Evaluation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/events:
    get:
      operationId: getAllEvents
      summary: Get all events in a group
      description: Retrieve all events in a specific group
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createEvent
      summary: Create a new event in a group
      description: Create a new event in a specific group
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '201':
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/events/{id}:
    get:
      operationId: getEventById
      summary: Get event by ID
      description: Retrieve a specific event by ID in a specific group
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateEventById
      summary: Update event by ID
      description: Update a specific event by ID in a specific group
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEventRequest'
      responses:
        '200':
          description: Event updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteEventById
      summary: Delete event by ID
      description: Delete a specific event by ID in a specific group
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Event deleted successfully
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/periods:
    get:
      operationId: getGroupPeriods
      summary: Get periods for a group
      description: Retrieve all periods belonging to a specific group
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved periods
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Period'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createGroupPeriod
      summary: Create period for a group
      description: Add a new period to a specific group
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePeriodRequest'
      responses:
        '201':
          description: Period created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Period'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/periods/{periodId}:
    put:
      operationId: updateGroupPeriod
      summary: Update period for a group
      description: Update an existing period belonging to a specific group
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: periodId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePeriodRequest'
      responses:
        '200':
          description: Period updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Period'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group or period not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteGroupPeriod
      summary: Delete period for a group
      description: Delete an existing period from a specific group
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: periodId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Period deleted successfully
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group or period not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/playing-modes:
    get:
      operationId: getGroupPlayingModes
      summary: Get playing modes for a group
      description: >-
        Retrieve all Playing Modes belonging to a specific group. This is a
        group-scoped subresource; there is no top-level playing-modes
        collection.
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved playing modes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayingMode'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createGroupPlayingMode
      summary: Create playing mode for a group
      description: >-
        Add a new Playing Mode to a group. Requires admin or trainer role in
        the group (same authorization as event/team modification). The first
        Playing Mode created for a group is automatically marked default.
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlayingModeRequest'
      responses:
        '201':
          description: Playing mode created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayingMode'
        '400':
          description: >-
            Invalid request data: name is empty, or numberOfPeriods/
            periodLengthMinutes is not an integer >= 1.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            Not authorized: requires admin or trainer role in this group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/playing-modes/{playingModeId}:
    put:
      operationId: updateGroupPlayingMode
      summary: Update playing mode for a group
      description: >-
        Update an existing Playing Mode belonging to a specific group.
        Requires admin or trainer role in the group.
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: playingModeId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlayingModeRequest'
      responses:
        '200':
          description: Playing mode updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayingMode'
        '400':
          description: >-
            Invalid request data: name is empty, or numberOfPeriods/
            periodLengthMinutes is not an integer >= 1.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            Not authorized: requires admin or trainer role in this group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group or playing mode not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteGroupPlayingMode
      summary: Delete playing mode for a group
      description: >-
        Delete an existing Playing Mode from a specific group. Requires admin
        or trainer role in the group.
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: playingModeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Playing mode deleted successfully
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            Not authorized: requires admin or trainer role in this group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group or playing mode not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: >-
            Playing mode is referenced by at least one Event's playingModeId
            in this group and cannot be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/playing-modes/{playingModeId}/set-default:
    post:
      operationId: setDefaultGroupPlayingMode
      summary: Set a playing mode as the group's default
      description: >-
        Atomically marks this Playing Mode as the group's default and unsets
        isDefault on any other Playing Mode in the group, avoiding a race
        between two concurrent updates both claiming default. Requires admin
        or trainer role in the group.
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: playingModeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Playing mode marked as default successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayingMode'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            Not authorized: requires admin or trainer role in this group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group or playing mode not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/formations:
    get:
      operationId: getGroupFormations
      summary: Get formations for a group
      description: >-
        Retrieve all Formations belonging to a specific group. This is a
        group-scoped subresource; there is no top-level formations
        collection.
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved formations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Formation'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createGroupFormation
      summary: Create formation for a group
      description: >-
        Add a new Formation to a group. Requires admin or trainer role in
        the group (same authorization as event/team modification).
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFormationRequest'
      responses:
        '201':
          description: Formation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formation'
        '400':
          description: >-
            Invalid request data: name is empty, fewer than 2 slots, a
            duplicate slot label, or not exactly one slot with isGoalkeeper
            true.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            Not authorized: requires admin or trainer role in this group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/formations/{formationId}:
    put:
      operationId: updateGroupFormation
      summary: Update formation for a group
      description: >-
        Update an existing Formation belonging to a specific group. Requires
        admin or trainer role in the group.
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: formationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFormationRequest'
      responses:
        '200':
          description: Formation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formation'
        '400':
          description: >-
            Invalid request data: name is empty, fewer than 2 slots, a
            duplicate slot label, or not exactly one slot with isGoalkeeper
            true.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            Not authorized: requires admin or trainer role in this group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group or formation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteGroupFormation
      summary: Delete formation for a group
      description: >-
        Delete an existing Formation from a specific group. Requires admin or
        trainer role in the group.
      tags:
        - Groups
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: formationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Formation deleted successfully
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: >-
            Not authorized: requires admin or trainer role in this group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group or formation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: >-
            Formation is referenced by at least one Team's formationId in
            this group and cannot be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/events/{id}/players:
    put:
      operationId: upsertEventInvitations
      summary: Upsert event invitations
      description: Add new player invitations to an event
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                playerIds:
                  type: array
                  items:
                    type: string
              required:
                - playerIds
      responses:
        '200':
          description: Invitations updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/events/{id}/players/{player_id}/status:
    put:
      operationId: updateInvitationStatus
      summary: Update invitation status
      description: Update the status of a player's invitation. Guardians can update only invitations for their own children and only to accepted or declined.
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: player_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [open, accepted, declined, injured, sick, unavailable]
              required:
                - status
      responses:
        '200':
          description: Invitation status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event or invitation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/events/{id}/selection:
    put:
      operationId: updateTeamSelection
      summary: Update team selection
      description: Update the team player selection for an event
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                teams:
                  type: array
                  items:
                    $ref: '#/components/schemas/Team'
              required:
                - teams
      responses:
        '200':
          description: Team selection updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/events/{id}/teams/{teamId}/status:
    put:
      operationId: updateTeamStatus
      summary: Update team selection status
      description: Update the selection status of a single team within an event. Transitioning to selected requires at least minPlayersPerTeam selected players.
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: teamId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [new, selected]
              required:
                - status
      responses:
        '200':
          description: Team status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Invalid status value or team does not meet minimum player requirement for selection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Event or team not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/shirtsets:
    get:
      operationId: getAllShirtSets
      summary: Get all shirt sets in a group
      description: Retrieve all shirt sets in a specific group
      tags:
        - Shirt Sets
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved shirt sets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShirtSet'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createShirtSet
      summary: Create a new shirt set in a group
      description: Create a new shirt set in a specific group
      tags:
        - Shirt Sets
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShirtSetRequest'
      responses:
        '201':
          description: Shirt set created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShirtSet'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/shirtsets/{id}:
    get:
      operationId: getShirtSetById
      summary: Get shirt set by ID
      description: Retrieve a specific shirt set by ID in a specific group
      tags:
        - Shirt Sets
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Shirt set found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShirtSet'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shirt set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateShirtSetById
      summary: Update shirt set by ID
      description: Update a specific shirt set by ID in a specific group
      tags:
        - Shirt Sets
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShirtSetRequest'
      responses:
        '200':
          description: Shirt set updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShirtSet'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shirt set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteShirtSetById
      summary: Delete shirt set by ID
      description: Delete a specific shirt set by ID in a specific group
      tags:
        - Shirt Sets
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Shirt set deleted successfully
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shirt set not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/groups/{groupId}/shirtsets/{id}/shirts/{shirtNumber}/status:
    put:
      operationId: updateShirtStatus
      summary: Update shirt status
      description: Update the availability status of a single shirt within a shirt set
      tags:
        - Shirt Sets
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: shirtNumber
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [available, unavailable]
              required:
                - status
      responses:
        '200':
          description: Shirt status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShirtSet'
        '400':
          description: Invalid shirtNumber or status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Shirt set or shirt not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /auth/login or /auth/register
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
      required:
        - error
    UserResponse:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - email
    Group:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        club:
          type: string
          nullable: true
        category:
          $ref: '#/components/schemas/GroupCategory'
        description:
          type: string
          nullable: true
        trainers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              email:
                type: string
                format: email
        members:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Player'
              - $ref: '#/components/schemas/Trainer'
        periods:
          type: array
          items:
            $ref: '#/components/schemas/Period'
        matchPlanningEnabled:
          type: boolean
          default: false
          description: Opt-in flag for Playing Modes/Formations/lineup planning.
        playingModes:
          type: array
          items:
            $ref: '#/components/schemas/PlayingMode'
          description: Group-scoped only; never shared with other groups.
        formations:
          type: array
          items:
            $ref: '#/components/schemas/Formation'
          description: Group-scoped only; never shared with other groups.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - name
    Period:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
      required:
        - id
        - name
        - startDate
        - endDate
    CreateGroupRequest:
      type: object
      properties:
        name:
          type: string
        club:
          type: string
          nullable: true
        category:
          $ref: '#/components/schemas/GroupCategory'
        description:
          type: string
          nullable: true
        trainers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              email:
                type: string
                format: email
      required:
        - name
    UpdateGroupRequest:
      type: object
      properties:
        name:
          type: string
        club:
          type: string
          nullable: true
        category:
          $ref: '#/components/schemas/GroupCategory'
        description:
          type: string
          nullable: true
        trainers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              email:
                type: string
                format: email
        matchPlanningEnabled:
          type: boolean
          description: >-
            Toggling this does not delete existing Playing Modes, Formations,
            or Team lineup data. Requires admin or trainer role.
    GroupCategory:
      type: string
      enum: [A, B, C, D9, D7, E, F, G, FF9, FF11, FF14, FF17]
      description: Swiss Football Association (SFV) team category.
    CreatePeriodRequest:
      type: object
      properties:
        name:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
      required:
        - name
        - startDate
        - endDate
    UpdatePeriodRequest:
      type: object
      properties:
        name:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
    PlayingMode:
      type: object
      description: >-
        Group-scoped subresource (see Group.playingModes). Never referenced
        across groups.
      properties:
        id:
          type: string
        name:
          type: string
          example: "4x20"
        numberOfPeriods:
          type: integer
          minimum: 1
          example: 4
        periodLengthMinutes:
          type: integer
          minimum: 1
          example: 20
        isDefault:
          type: boolean
          default: false
          description: Exactly one Playing Mode per group may be true.
      required:
        - id
        - name
        - numberOfPeriods
        - periodLengthMinutes
    CreatePlayingModeRequest:
      type: object
      properties:
        name:
          type: string
        numberOfPeriods:
          type: integer
          minimum: 1
        periodLengthMinutes:
          type: integer
          minimum: 1
      required:
        - name
        - numberOfPeriods
        - periodLengthMinutes
    UpdatePlayingModeRequest:
      type: object
      properties:
        name:
          type: string
        numberOfPeriods:
          type: integer
          minimum: 1
        periodLengthMinutes:
          type: integer
          minimum: 1
    PositionCode:
      type: string
      description: >-
        Language-neutral position abbreviation (same catalog as used in
        games like FIFA). Translating a code into a localized label (e.g.
        English "LB" for "left back" vs. German "LV" for "linker
        Verteidiger") is a frontend i18n concern; the backend only stores
        and validates the code.
      enum:
        - GK
        - LB
        - CB
        - RB
        - LWB
        - RWB
        - CDM
        - CM
        - CAM
        - LM
        - RM
        - LW
        - RW
        - CF
        - ST
    FormationSlot:
      type: object
      properties:
        id:
          type: string
        positionCode:
          $ref: '#/components/schemas/PositionCode'
      required:
        - id
        - positionCode
    Formation:
      type: object
      description: >-
        Group-scoped subresource (see Group.formations). Never referenced
        across groups.
      properties:
        id:
          type: string
        name:
          type: string
          example: "3-3"
        slots:
          type: array
          minItems: 2
          items:
            $ref: '#/components/schemas/FormationSlot'
          description: >-
            Exactly one slot must have positionCode GK; other codes may
            repeat (e.g. two CB slots), distinguished only by array order.
      required:
        - id
        - name
        - slots
    CreateFormationRequest:
      type: object
      properties:
        name:
          type: string
        slots:
          type: array
          minItems: 2
          items:
            type: object
            properties:
              positionCode:
                $ref: '#/components/schemas/PositionCode'
            required:
              - positionCode
      required:
        - name
        - slots
    UpdateFormationRequest:
      type: object
      properties:
        name:
          type: string
        slots:
          type: array
          minItems: 2
          items:
            type: object
            properties:
              id:
                type: string
              positionCode:
                $ref: '#/components/schemas/PositionCode'
            required:
              - positionCode
    LineupPositionAssignment:
      type: object
      properties:
        slotId:
          type: string
          description: Must reference a slot in the Team's selected Formation.
        playerId:
          type: string
          description: Must be one of the Team's selectedPlayers.
      required:
        - slotId
        - playerId
    TeamLineupPeriod:
      type: object
      properties:
        periodNumber:
          type: integer
          minimum: 1
          description: Must not exceed the Event's Playing Mode numberOfPeriods.
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/LineupPositionAssignment'
          description: >-
            Selected players absent here are implicitly benched for this
            period; no explicit bench list is stored.
      required:
        - periodNumber
        - assignments
    Player:
      type: object
      properties:
        id:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/GroupRole'
        firstName:
          type: string
        lastName:
          type: string
        birthDate:
          type: string
          format: date
        level:
          type: integer
          minimum: 1
          maximum: 5
        preferredShirtNumber:
          type: integer
          minimum: 1
        status:
          type: string
          enum: [active, trial, inactive]
          default: active
        guardians:
          type: array
          items:
            $ref: '#/components/schemas/Guardian'
      required:
        - id
        - roles
        - firstName
        - lastName
        - level
    PlayerEvaluation:
      type: object
      properties:
        id:
          type: string
        playerId:
          type: string
        evaluationDate:
          type: string
          format: date
        userId:
          type: string
        score:
          type: object
          properties:
            technical:
              type: integer
              minimum: 1
              maximum: 5
            intelligence:
              type: integer
              minimum: 1
              maximum: 5
            personality:
              type: integer
              minimum: 1
              maximum: 5
            speed:
              type: integer
              minimum: 1
              maximum: 5
        comments:
          type: string
          nullable: true
      required:
        - playerId
        - evaluationDate
        - score
        - userId
    Trainer:
      type: object
      properties:
        id:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/GroupRole'
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
          nullable: true
      required:
        - id
        - roles
        - firstName
        - lastName
    Guardian:
      type: object
      properties:
        id:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/GroupRole'
        groupId:
          type: string
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
      required:
        - id
        - groupId
        - roles
    GroupRole:
      type: string
      enum: [admin, trainer, guardian, player]
    CreateGuardianRequest:
      type: object
      properties:
        guardianId:
          type: string
      required:
        - guardianId
    PlayerWithRole:
      allOf:
        - $ref: '#/components/schemas/Player'
    TrainerWithRole:
      allOf:
        - $ref: '#/components/schemas/Trainer'
    CreatePlayerRequest:
      type: object
      properties:
        role:
          type: string
          enum: [player]
        firstName:
          type: string
        lastName:
          type: string
        birthDate:
          type: string
          format: date
        level:
          type: integer
          minimum: 1
          maximum: 5
        preferredShirtNumber:
          type: integer
          minimum: 1
        status:
          type: string
          enum: [active, trial, inactive]
          default: active
      required:
        - role
        - firstName
        - lastName
        - birthDate
        - level
    CreateTrainerRequest:
      type: object
      properties:
        role:
          type: string
          enum: [trainer]
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
      required:
        - role
        - firstName
        - lastName
    UpdatePlayerRequest:
      type: object
      properties:
        role:
          type: string
          enum: [player]
        firstName:
          type: string
        lastName:
          type: string
        birthDate:
          type: string
          format: date
        level:
          type: integer
          minimum: 1
          maximum: 5
        preferredShirtNumber:
          type: integer
          minimum: 1
        status:
          type: string
          enum: [active, trial, inactive]
          default: active
      required:
        - role
        - firstName
        - lastName
        - birthDate
        - level
    UpdateTrainerRequest:
      type: object
      properties:
        role:
          type: string
          enum: [trainer]
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
      required:
        - role
        - firstName
        - lastName
    Invitation:
      type: object
      properties:
        id:
          type: string
          
        playerId:
          type: string
          
        status:
          type: string
          enum: [open, accepted, declined, injured, sick, unavailable]
      required:
        - id
        - playerId
        - status
    ShirtAssignment:
      type: object
      properties:
        playerId:
          type: string
          
        shirtNumber:
          type: integer
          minimum: 1
      required:
        - playerId
        - shirtNumber
    Team:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        strength:
          type: integer
          minimum: 1
          maximum: 3
          default: 2
        startTime:
          type: string
          pattern: '^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$'
          example: "14:30"
        location:
          type: string
          description: Optional location for the team (overrides event location)
        selectedPlayers:
          type: array
          items:
            type: string
        trainerId:
          type: string
          nullable: true
        shirtSetId:
          type: string
          nullable: true
        shirtAssignments:
          type: array
          items:
            $ref: '#/components/schemas/ShirtAssignment'
          nullable: true
        formationId:
          type: string
          nullable: true
          description: >-
[...]
